{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if tag_name %}
  <h2>Tag: {{ tag_name }}</h2>
{% else %}
  <div class="questions-header">
    <h2>{{ title }}</h2>
    <a href="/hot">Hot questions</a>
  </div>
{% endif %}
{% for i in "123" %}
<div class="question-item">
  <div class="vote-controls">
    <img src="{% static 'images/cat.jpg' %}" alt="avatar">
    <a href="#" class="vote-arrow">▲</a>
      <span class="vote-count">5</span>
    <a href="#" class="vote-arrow">▼</a>
  </div>
  <div class="question-content">
    <h3><a href="/question/{{ i }}">The secrets of moon gardening</a></h3>
    <p>What are the most resilient plant species for space colonization, and how can we optimize their growth?</p>
    <div class="question-meta">
      <a href="/question/{{ i }}/#answers">answer (3)</a>
      <span class="tags">
        Tags:
        <a href="/tag/moon">moon gardening</a>
        <a href="/tag/botany">lunar botanist</a>
      </span>
    </div>
  </div>
</div>
{% endfor %}

<nav>
  <ul class="pagination">
    <li><a href="#">Previous</a></li>
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>
{% endblock %}
