{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if tag_name %}
  <h2>Tag: {{ tag_name }}</h2>
{% else %}
  <div class="questions-header">
    <h2>{{ title }}</h2>
    {% if title == 'New Questions' %}
      <a href="{% url 'hot' %}">Hot questions</a>
    {% else %}
      <a href="{% url 'index' %}">New questions</a>
    {% endif %}
  </div>
{% endif %}
{% for question in page %}
<div class="question-item">
  <div class="vote-controls">
    <img src="{% static 'images/cat.jpg' %}" alt="avatar">
    <a href="#" class="vote-arrow">▲</a>
      <span class="vote-count">{{ question.rating }}</span>
    <a href="#" class="vote-arrow">▼</a>
  </div>
  <div class="question-content">
    <h3><a href="{% url 'question' question_id=question.id %}">{{ question.title }}</a></h3>
    <p>{{ question.text }}</p>
    <div class="question-meta">
      <a href="{% url 'question' question_id=question.id %}#answers">answer ({{ forloop.counter }})</a>
      <span class="tags">
        Tags:
        {% for tag in question.tags %}
          <a href="{% url 'tag' tag_name=tag %}">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>
  </div>
</div>
{% endfor %}

{% include '_pagination.html' %}

{% endblock %}
