{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2>Settings: Dr. Pepper</h2>
<form>
  <div class="form-group">
    <label for="login">Login</label>
    <input type="text" id="login" value="dr_pepper" readonly>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" value="dr.pepper@mail.ru">
    <div class="error-message">This email is already in use.</div>
  </div>
  <div class="form-group">
    <label for="nickname">Nickname</label>
    <input type="text" id="nickname" value="Dr.Pepper">
  </div>
  <div class="form-group">
    <label>Avatar</label>
    <div>
      <img src="{% static 'images/cat.jpg' %}" style="border-radius:50%; margin-bottom: 10px; width: 98px; height: 98px;" alt="avatar">
    </div>
    <input type="file" id="avatar">
  </div>
  <button type="submit" class="btn">Save</button>
</form>
{% endblock %}
