{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2>Settings: {{ user.username }}</h2>
<form method="POST" action="{% url 'settings' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label>Login</label>
        <input type="text" value="{{ user.username }}" readonly disabled class="form-control">
    </div>
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
        <div class="error-message">{{ form.email.errors }}</div>
    </div>
    <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}">Nickname</label>
        {{ form.first_name }}
        <div class="error-message">{{ form.first_name.errors }}</div>
    </div>
    <div class="form-group">
        <label>Avatar</label>
        <div>
            {% if user.avatar %}
            <img class="avatar" src="{{ user.avatar.url }}" alt="avatar">
            {% else %}
            <img class="avatar" src="{% static 'images/cat.jpg' %}" alt="avatar">
            {% endif %}
        </div>
        {{ form.avatar }}
        {{ form.avatar.errors }}
    </div>
    <button type="submit" class="btn">Save</button>
</form>
{% endblock %}
