{% extends 'base.html' %}

{% block content %}
<h2>Registration</h2>

<form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <div class="error-message">
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn">Register!</button>
    <a href="{% url 'login' %}" style="margin-left: 15px;">Have an account?</a>
</form>
{% endblock %}
