<nav>
    <div class="pagination">
        {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">&laquo; Prev</a>
        {% endif %}

        {% for p in page_range %}
        {% if p == page.number %}
        <div class="active"><a href="#" onclick="return false;">{{ p }}</a></div>
        {% elif p == '...' %}
        <span>...</span>
        {% else %}
        <a href="?page={{ p }}">{{ p }}</a>
        {% endif %}
        {% endfor %}

        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Next &raquo;</a>
        {% endif %}
    </div>
</nav>
